html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --imp-text-color: #65c7d0;
  --body-text-color: #f5f5fa;
  --muted-text-color: #d1d3e0;
  --button-bg: #2d1e07;
  --button-bg-hover: #fbd795;
  --button-text-hover: #0b0c14;
}

body {
  color: var(--body-text-color);
}

p,
li {
  color: var(--muted-text-color);
}


.orange {
  color: var(--imp-text-color) !important;
}

.blue {
  color: #65c7d0 !important;
}

button:focus {
  box-shadow: none !important;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #10121e;
}

::-webkit-scrollbar-thumb {
  background: rgba(251, 240, 220, 0.701);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffc14f;
  border-radius: 12px;
}

.btn-primary {
  color: #fff !important;
  background-color: var(--button-bg) !important;
  border-color: var(--imp-text-color) !important;
}

.btn-primary:hover {
  color: var(--button-text-hover) !important;
  background-color: var(--button-bg-hover) !important;
  border-color: var(--button-bg-hover) !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.project-heading {
  color: var(--body-text-color) !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
}
